.A1{
    color:blue ;
}
.A2{
    color:black ;
}
.A3{
    color:red ; 
}
.A4{
    color:green ; 
}
.A5{
    color: yellow;
}
.A6{
    color:purple ;
}
.A7{
    color:peru;
}
.A8{
    color:orangered ;
}
.A9{
    color:darkblue ;
}
.A10{
    color:darkgreen ;
}
